* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.navBar {
    background: #00A3EE;
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: auto;
    align-items: center;
    padding: 0 2rem;
}

.linkContainer {
    display: inherit;
    flex-direction: row;
    list-style-type: none;
}

ul .link {
    margin: 0 5px;
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}