* {
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navBar {
    background: #1565c0;
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: auto;
    align-items: center;
    padding: 0 2rem;
}

.linkContainer {
    display: inherit;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
}

ul .link {
    margin: 0 10px;
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}
.link:hover {
    color: #fdd835;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
.logo {
    font-weight: bold;
}
.active {
    color: #fdd835;
}